*.doc
*.docx
*.pdf
complex_algo/lab7/~WRL2997.tmp
*.xml
num_meth/lab1/gauss/.idea/.name
*.iml
*.class
main
*.cmake
*.txt
*.bin
*.exe
*.check_cache
*.log
*.make
*.internal
*.stackdump
*.cbp
*.marks
*.o
*.includecache
