*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

.main-header {
    background: #FFF;
}

.mh-logo {
    margin: 0 0 -10px;
}

.main-nav a {
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #343534;
    text-decoration: none;
}

.main-nav ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 960px;
    /* max-width: 100%; */
    min-width: 300px;
    padding: 20px;
    margin: 0 auto;
}
.main-header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.main-nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}
.main-nav li {
    display: inline;
}
.main-nav a {
    display: inline-block;
    padding: .5em 1.5em;
}

@media (min-width:960px) {
    .main-header .container {
        justify-content: space-between;
    }
}

.header-search-picture {
    width: 20px;
    height: 20px;
}

.main-phrase-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-phrase-item {
    font-family: "Calibri, sans-serif";
    font-size: x-large;
}

.short-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 20px 10px 30px 10px;
}

@media screen and (max-width: 1023px) {
    .short-info-container {
        flex-direction: column;
        gap: 0px;
    }
}

.short-info-link {
    width: 80px;
    height: 80px;
}

.recent-news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media screen and (min-width: 1024px) {
    .recent-news-container {
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
    }
}

@media screen and (max-width: 1023px) {
    /* .recent-news-container {
        flex-direction: column;
    } */
}

.recent-news-item {
    height: auto;
    min-width: 300px;
    max-width: 400px;
}

.recent-news-image {
    width: 250px;
    height: 200px;
}

/* .first-news {
    order: 1;
}

.second-news {
    order: 2;
}

.third-news {
    order: 3;
}

.forth-news {
    order: 4;
} */

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #f0eded;
}

.footer > * {
    flex:  1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.h-box {
    column-count: 4;
}

.b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.l-footer p {
    padding-right: 20%;
    color: #999;
}

.social_media_pic {
    height: 30px;
    width: 30px;
}

@media screen and (min-width: 600px) {
    .r-footer > * {
        flex: 1;
    }

    .features {
        flex-grow: 2;
    }

    .l-footer {
        flex: 1 0px;
    }

    .r-footer {
        flex: 2 0px;
    }
}